/aula05/target/
/Aula005/nbproject/private/
/Aula005/build/
/Calculadoira/nbproject/private/
/AprendoForm/nbproject/private/
/Calculadoira/JavaApplication1/nbproject/private/
/Calculadoira/AprendoForm/nbproject/private/
